/**
 * #.# Editor Styles for Detail Block
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */
.wp-block-mic-mic-detail-block {

	.edit-post-visual-editor .block-editor-block-list__block {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
  }

 }
